.aksiya__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.they__inner{
  margin-top: 100px;
}

.aksiya__heading>h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  color: #1A1A25;
}

.aksiya__heading>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #828282;
}